<!doctype html>
<html>
<head>
  <title>Slack Starred Messages - Export <%= slack_host %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="grid grid-cols-1 m-3">
  <h1 class="text-3xl font-bold leading-7 text-gray-900 mb-5">
    Slack Starred Messages - Export <span class="text-gray-300 text-xs font-light"><a href="https://<%= slack_host %>" target="_blank" class="hover:underline"><%= slack_host %></a> @ <%= generation_datetime %></span>
  </h1>

  <div class="flex flex-col space-y-2">
    <%= for message <- messages do %>
    <div class="flex-1 bg-gray-100 border-2">
      <div class="flex flex-wrap">
        <div class="font-bold tracking-wide">
          <span title="Hasdsad"><%= message.user.real_name %></span>
        </div>
        <div class="font-light text-gray-500 ml-3">
          <a href="<%= message.permalink %>" target="_blank" class="hover:underline"><%= message.date_created %></a>
        </div>
        <div class="font-light text-gray-500 ml-3">
          #<%= message.channel_name %>
        </div>
      </div>
      <div class="italic">
        <%= message.text %>
      </div>
      <div class="flex flex-col space-y-1 ml-7">
        <%= for reply <- message.replies do %>
          <%= SlackStarredExport.ExportView.show_reply(reply) %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</body>
</html>
