<!doctype html>
<html>
<head>
  <title>Slack Saved Messages - Export <%= slack_host %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content="https://github.com/MMore/slack-saved-items-export">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="grid grid-cols-1 m-3">
  <h1 class="text-3xl font-bold leading-7 text-gray-900 mb-5">
    Slack Saved Messages (<%= length(messages) %>) <span class="text-gray-400 text-xs font-light"><a href="https://<%= slack_host %>" target="_blank" class="hover:underline"><%= slack_host %></a> @ <%= generation_datetime %></span>
  </h1>

  <div class="flex flex-col space-y-2">
    <%= for message <- messages do %>
    <div class="flex-1 bg-gray-100 border-2">
      <%= SSIExport.ExportView.show_message(message.date_created, message.text, message.user, message.channel_type, message.channel_name, message.permalink, show_profile_image?) %>
      <div class="flex flex-col space-y-1 ml-7">
        <%= for reply <- message.replies do %>
          <%= SSIExport.ExportView.show_reply(reply, show_profile_image?) %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</body>
</html>
