<div class="flex-1 border-dotted border-2">
  <div class="font-bold tracking-wide">
    <span title="<%= reply.user.title %>"><%= reply.user.real_name %></span> <span class="font-light text-gray-500 ml-3"><%= reply.date_created %></span>
  </div>
  <div class="italic">
    <%= reply.text %>
  </div>
</div>
